@media(max-width: 1200px){
  .hero{
    flex-wrap: wrap;
  }  
}

*{
    border: 2px solid orange ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    width: 100%;  
}
.landing-page{
    background-color: rgb(15, 4, 45);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 30px; 
}
.updown-arrow{
    border-radius: 5px;
    margin: 6px;
    width: 40px;
}
.auto-type{
    color: white;
    font-weight: 400;
    font-size: x-large;
}
.about-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    
}
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8vw;
    padding-block: 25px;
    border-bottom: 3px solid rgb(32, 3, 111);
}
.logo{
    color:  rgb(32, 3, 111);
    font-weight: 800;
    font-size: xx-large;
    font-family: monospace;
}
.links{
    color: black;
    text-decoration: none;
    font-family: calibri, sans-serif ;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.container-1{
    display: flex;
    gap: 70px;
}
button{
      background: transparent;
      border: 2px solid orange;
      padding: 9px 28px;
      border-radius: 30px;
      color:  rgb(15, 4, 45);
      font-weight: 700;
      font-size: 15px;
      font-family: Courier New, Courier, 'monospace';
}
button:hover{
    background:  rgb(32, 3, 111);
    color: white;
    cursor: pointer;
    transition: .8s;
    border: 2px solid  rgb(32, 3, 111);
}
button:active{
    animation: bounce 1s;
}
.links:hover{
    color:  rgb(32, 3, 111);
    transition: .3s;
    border-top:2px solid orange;
    padding-top: 7px;
    border-radius: 7%;
    font-weight: bold;
}
.frame{
        
}
.frame-2{
    border-right: 2px solid rgb(32, 3, 111);
    padding-right: 70px;
    border-top-right-radius: 10%;
    border-bottom-right-radius:10% ;
    padding-block: 80px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 90px;
    
}
.intro{
    color:  black;
    font-family: 'Times New Roman', Times, serif;

}
.cover{
    width: 450px;
    height: 430px;
    border-radius: 50%;
    border: 8px solid orange ;
}
.head-2{
    color:rgb(32, 3, 111) ;
    font-size: 47px;
    font-weight: lighter;
    font-family: fantasy;
    margin-top: 3px;
    margin-bottom: 8px;  
}
.res{
    padding-block: 12px;
    background-color: rgb(32, 3, 111);
    border: 2px solid rgb(32, 3, 111);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: lighter;
    padding-inline: 50px;
}
.res:hover{
    background: transparent;
    color: rgb(32, 3, 111);
    border: 2px solid orange;
}

.likes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.my-way{
    color: rgb(32, 3, 111); 
    font-family: fantasy; 
    font-weight:lighter; 
}
.webdev{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-top: 0;
    color: rgba(100, 100, 100, 1);
}
.qualities{
    display: flex;
    flex-direction: column;
    gap: 400px;
}
.ref{
    margin-inline: 120px  ;
    padding-block: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to left bottom, rgb(32, 3, 111), #5927e5, #0066FF, #0087FF, #009DFF, #00AED1 );
}
.click:hover{
    background-color: rgb(32, 3, 111);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body {
   animation: transitionIn 2s; 
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.social{
    border: 2px solid gray;
    border-radius: 50%;
    padding-block: 5px;
    padding-inline: 5px;
}
@keyframes transitionIn {
   from {
        opacity: 0;
        transform: translateY(-180deg);
   }
   
   to {
        opacity: 1;
        transform: translateY(0);
   }
}
@keyframes bounce {
    from {
        opacity: 0;
        transform: scale3d(-20px);
    }
    to{
        opacity: 1;
        transform: scale3d(0)
    }
}

@media (max-width: 1150px) {
    .hidden-in-mobile {
        display: none;
    }
}




